:root {
  --background-color: #f3f5fc;
}
* {
  box-sizing: border-box;
}
html {
  color: #0a3871;
  font-size: 32px;
}
body {
  background-color: #f3f5fc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.alura {
  display: grid;
  grid-template-columns: 1.5fr 6fr 2.5fr;
  height: 95vh;
  width: 95%;
  .logo {
    img {
      width: 46px;
      height: 46px;
    }
  }
  .textIN {
    place-self: center;
    width: 90%;
    textarea {
        border: none;
        padding: 0;
        outline: none;
        width: 100%;
        height: 54vh;
        background-color: #f3f5fc;
      }
      textarea::placeholder {
      color: #0a3871;
    }
    p{
        font-size: 0.5rem;
        color:gray;
    }
    div {
      text-align: center;
      button {
        width: 49%;
        background-color: #0a3871;
        color: white;
        border-radius: 24px;
        height: 67px;
        font-size: 16px;
      }
      button:nth-child(2){
        background-color: #E5E5E5;
        color: #0A3871;
        border: 1px solid #0A3871
      }
    }
  }
  .textOUT {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    p{
      text-align: center;
      font-size: 0.8rem;
    }
    textarea{
      font-size: 0.6rem;
      text-align: center;
      color:black;
      width: 95%;
      height: 30vh;
      border: none;
        padding: 0;
        outline: none;
    }
    img {
      width: 85%;
    }
    div{
      //margin-bottom: 20px;
      display: none;
      width: 90%;
      text-align: center;
      button{
          width: 100%;
          background-color: #E5E5E5;
          color: #0A3871;
          border: 1px solid #0A3871;
          border-radius: 24px;
          height: 67px;
          font-size: 16px;
      }
    }
  }
}
@media (max-width: 480px) {
  .alura {
    height: 100vh;
    width: 95%;
    grid-template-rows:3rem 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
    .logo {
      align-self: center;
      
      img {
        
      }
    }
    .textIN {
      
      textarea {
        height: 40vh;
      }
      textarea::placeholder {
        
      }
      p{
          
      }
      div {
        
        button {
          width: 95%;
        }
        button:nth-child(2){
          margin-top: 20px;
          
        }
      }
    }
    .textOUT {
      height: 40%;
      p{
        text-align: center;
        font-size: 0.8rem;
        color: black;
      }
      textarea{
        // padding-top: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      img {
        display: none;
      }
      div{
        
        }
      }
    }
}


@media (min-width: 481px) and ( max-width: 1024px) {
  .alura {
    height: 100vh;
    width: 95%;
    grid-template-rows:4rem 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    .logo {
      align-self: center;
      
      img {
        
      }
    }
    .textIN {
      
      textarea {
      }
      textarea::placeholder {
        
      }
      p{
          
      }
      div {
        
        button {
          
        }
        button:nth-child(2){
          
        }
      }
    }
    .textOUT {
      height: 40%;
      p{
        text-align: center;
        font-size: 0.8rem;
        color: black;
      }
      textarea{
        // padding-top: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      img {
        display: none;
      }
      div{
        
        }
      }
    }
}
// @media (min-width: 769px) and (max-width: 1024px) {
 
// // }
// @media (min-width: 1023px) and (max-width: 1201px) {
 
// }